#form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    padding: 10px;
    width: 50%;
    border: 1px solid #2d2d2d;
}
.wrapper div {
    margin-bottom: 10px;
}

#result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
table {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}